<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletEx</display-name>
  <welcome-file-list>
  <welcome-file>Register.html</welcome-file>
  <welcome-file>Updation.html</welcome-file>
    
  </welcome-file-list>
  <context-param>
    <param-name>Oracle</param-name>
    <param-value>com.oracle.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.Infinite.servlet.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Displayservlet</display-name>
    <servlet-name>Displayservlet</servlet-name>
    <servlet-class>com.Infinite.servlet.Displayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displayservlet</servlet-name>
    <url-pattern>/Displayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigEx</display-name>
    <servlet-name>ConfigEx</servlet-name>
    <servlet-class>com.Infinite.servlet.ConfigEx</servlet-class>
    <init-param>
      <param-name>MYSQL</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigEx</servlet-name>
    <url-pattern>/ConfigEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchServlet</display-name>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>com.Infinite.servlet.FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/FetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchServlet1</display-name>
    <servlet-name>FetchServlet1</servlet-name>
    <servlet-class>com.Infinite.servlet.FetchServlet1</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet1</servlet-name>
    <url-pattern>/FetchServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieservletEx</display-name>
    <servlet-name>CookieservletEx</servlet-name>
    <servlet-class>com.Infinite.servlet.CookieservletEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieservletEx</servlet-name>
    <url-pattern>/CookieservletEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionEx</display-name>
    <servlet-name>HttpSessionEx</servlet-name>
    <servlet-class>com.Infinite.servlet.HttpSessionEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionEx</servlet-name>
    <url-pattern>/HttpSessionEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Crud</display-name>
    <servlet-name>Crud</servlet-name>
    <servlet-class>com.Infinite.servlet.Crud</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Crud</servlet-name>
    <url-pattern>/Crud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.Infinite.servlet.Delete</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updationn</display-name>
    <servlet-name>Updationn</servlet-name>
    <servlet-class>com.Infinite.servlet.Updationn</servlet-class>
    <init-param>
    <param-name>mysqlurl</param-name>
    <param-value>jdbc:mysql://localhost:3306/training</param-value></init-param>
    <init-param>
    <param-name>mysql</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
    <param-name>mysqlusername</param-name>
    <param-value>root</param-value>
    </init-param>
    <init-param>
    <param-name>mysqlpassword</param-name>
    <param-value>mysql123@</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updationn</servlet-name>
    <url-pattern>/Updationn</url-pattern>
  </servlet-mapping>
</web-app>